.flexbox {
  display: flex;
  height: 80%;
  width: 100%;
  justify-content: space-between;
  background-image: url('../../images/checks.jpeg');
}

.element {
  width: 400px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.7);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0, 0);
  margin: 5px;
  background-color: #0D2309;
}

.element img {
  height: 60%;
  width: 90%;
}

.text {
  text-align: center;
  padding: 5px;
}

.element p {
  color: #214618;
}
